.todoForm{
    display: flex;
    flex-wrap: wrap;
    max-width: 30em;
    position: relative;
}

.toDoInput{
    padding: 1.5em;
    border: 1px solid #666;
    border-radius: 3px;
    flex-grow: 1;
    margin-right: 0.5em;
    max-width: 25em;
    max-height: 8em;
    min-width: 15em;
    min-height: 3em;
}


.btnAdd{
    cursor: pointer;
    padding: 1.5em;
}