nav{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    background-color: black;
    z-index: 10;
    height: 5em;
}

.userNav{
    display: flex;
    justify-content: space-between;
    width: 7em;
    padding: 1em 1em 0 1em;
}

.linkContainer{
    display: flex;
    justify-content: space-between;
    width: 15em;
    padding: 1.5em 1em 1em 1em;
    background-color: #4a4a4a;
}

.NavBar{
    color: white;
}

.NavBar:hover {
    color: #e44c4c;
    border-bottom: 5px solid black;
}

.NavBarActive {
    color: aqua;
}

.NavBarActive:hover{
    color: aqua;
    border-bottom: 5px solid black;
}




.userNav img{
    width: 3em;
    height: 3em;
}